 /*ANA*/
    .Ducks{
      background: black; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Ducks1{
      background: rgb(252,76,2);
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*ARI*/
    .Coyotes{
      background: black; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Coyotes1{
      background: rgb(140,38,51);
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*BOS*/
    .Bruins{
      background: black; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Bruins1{
      background: rgb(252,181,20);
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*BUF*/
    .Sabres{
      background: rgb(0,38,84); 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Sabres1{
      background: rgb(252,181,20);
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*CGY*/
    .Flames{
      background: rgb(200, 16, 46); 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Flames1{
      background: rgb(241, 190, 72);
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*CAR*/
    .Hurricanes{
      background: black; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Hurricanes1{
      background: #CC0000;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*CHI*/
    .Blackhawks{
      background: #CF0A2C; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Blackhawks1{
      background: black;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*COL*/
    .Avalanche{
      background: #6F263D;
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Avalanche1{
      background: #236192;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*CBJ*/
    .Jackets{
      background: #002654; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Jackets1{
      background:  #CE1126;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*DAL*/
    .Stars{
      background: #006847; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Stars1{
      background: black;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*DET*/
    .Wings{
      background: #CE1126; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Wings1{
      background: white;
      color: #CE1126;
      text-align: left;
      font-size: 13px;
    }
    /*EDM*/
    .Oilers{
      background: #041E42; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Oilers1{
      background: #FF4C00;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*FLA*/
    .Panthers{
      background: #C8102E;
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Panthers1{
      background: #041E42;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*LAK*/
    .Kings{
      background: black;
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Kings1{
      background: #A2AAAD;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*MIN*/
    .Wild{
      background: #154734; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Wild1{
      background: #DDCBA4;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*MTL*/
    .Canadiens{
      background: #AF1E2D; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Canadiens1{
      background: #192168;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*NSH*/
    .Predators{
      background: #FFB81C;
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Predators1{
      background: #192168;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*NJD*/
    .Devils{
      background: #CE1126; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Devils1{
      background: black;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*NYI*/
    .Islanders{
      background:  #00539B; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Islanders1{
      background: #F47D30;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*NYR*/
    .Rangers{
      background: #0038A8; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Rangers1{
      background: #CE1126;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*OTT*/
    .Senators{
      background: #E31837; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Senators1{
      background: black;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*PHI*/
    .Flyers{
      background: #F74902; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Flyers1{
      background: black;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*PIT*/
    .Penguins{
      background: black; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Penguins1{
      background: #FCB514;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*SJS*/
    .Sharks{
      background:  #006D75;
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Sharks1{
      background: black;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*STL*/
    .Blues{
      background: #002F87; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Blues1{
      background:  #FCB514;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*TBL*/
    .Lightning{
      background: white; 
      color: #002868;
      text-align: center;
      font-size: 25px;
    }
    .Lightning1{
      background: #002868;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*TOR*/
    .Leafs{
      background: #003E7E; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Leafs1{
      background: white;
      color: #003E7E;
      text-align: left;
      font-size: 13px;
    }
    /*VAN*/
    .Canucks{
      background: #001F5B; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Canucks1{
      background: #00843D;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*VGK*/
    .Knights{
      background: #333F42;
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Knights1{
      background:  #B4975A;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*WSH*/
    .Capitals{
      background: #C8102E;
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Capitals1{
      background: #041E42;
      color: white;
      text-align: left;
      font-size: 12px;
    }
    /*WPG*/
    .Jets{
      background:  #041E42; 
      color: white;
      text-align: center;
      font-size: 25px;
    }
    .Jets1{
      background: #004C97;
      color: white;
      text-align: left;
      font-size: 12px;
    }